/*****************************************************/
/* This semester we will be using my variation of    */
/* Josh Comeau's CSS Reset instead of normalize      */
/* Read more at                                      */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
/*****************************************************/
/* Always add your CSS below the reset CSS           */
/*****************************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  /* this an experimental line-height; if it breaks, add line-height: 1.5 to body */
  line-height: calc(1em + 0.5rem);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* until you get a feel for overflow, I'll keep these next two commented out */
/* p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
} */

/* p {
  overflow-wrap: break-word;
  hyphens: auto;
} */

/* temp CSS for HTML only assignments */
svg {
  width: 200px;
}

/* temp fix to size about img */
img[srcset] {
  width: 50%;
  height: auto;
  margin: 2rem auto;
}

/* temporary fix to size svg images */
img[src$="svg"] {
  width: 200px;
}

/************ add your CSS here *****************/

:root {
  --color-font: #444;
  --link: #557a82;
  --light-blue: #9dc6be;
  --tan: #d3c2ae;
  --seafoam: #a4c4bf;
  --cream: #fffcef;
  --dark-blue: #40656d;
  --color-font-white: #f0f8ff;
  --book-height: 300px;
  --book-width: 200px;
  --width-cover-edge: 8px;
  --color-end-paper: rgb(36, 36, 81);
  --color-edge: rgb(36, 36, 81);
  --color-spine: rgb(23, 23, 50);
  --gutter: 1vw;
  --color-svg: #bdc581;
  --color-svg-hover: goldenrod;
  --color-svg-close: #fc427b;
  --color-svg-close-lighter: #ffb2ca;
  --color-nav-bg: #1b1464;
  --color-menu-slideout: #833471;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  align-self: center;
  padding: 0 1rem;
  max-width: 70rem;
  color: var(--color-font);
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 3em;
  font-family: "Courier New", Courier, monospace;
  color: #444;
}

p {
  text-align: center;
}

p.scripture {
  text-align: center;
  font-family: "Bitter", serif;
  font-weight: bold;
  color: var(--light-blue);
  font-size: 1.5rem;
  padding: .5rem;
}

p.instructions {
  text-align: center;
  padding: 2vw;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.25vw;
  color: #444;
}

p.instructions-list {
  text-align: left;
  padding: 0 2vw 2vw 2vw;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.25vw;
  color: #444;
}

p.about {
  text-align: center;
  font-family: "Bitter", serif;
  font-size: 2rem;
  text-align: center;
  margin: 2rem;
}

.instructions-border {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--dark-blue);
  margin: 5rem;
}

article {
  margin-bottom: 10rem;
}

section.about-article {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
  gap: 1rem;
  margin: 1rem;
}

.round-img {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
}

.about-author {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
  borde
}

.family {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
}

.kayla {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
  display: flex;
  align-items: center;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.panel-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

aside {
  margin-bottom: 3em;
  padding: 0 1rem;
  max-width: 70rem;
}

footer {
  padding: 2em;
  background-color: var(--color-font);
  font-family: "Bitter", serif;
  font-weight: bold;
  color: var(--color-font-white);
  margin-top: 10rem;
  display: block;
  width: 100%;
  box-sizing: border-box;
  align-self: stretch;
  font-size: 1rem;
}

footer p {
  margin-bottom: 0.5vw;
}

figure {
  text-align: center;
}

div.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

div.container-book {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin: 1rem;
}

h1 {
  font-family: "Bitter", serif;
  color: var(--dark-blue);
  font-size: clamp(4.5vw, 4.5vw, 10vw);
  margin: var(--gutter);
  letter-spacing: 1rem;
  text-align: center;
}

h2 {
  text-align: center;
  font-family: "Bitter", serif;
  color: var(--dark-blue);
  font-size: clamp(4.5vw, 4.5vw, 10vw);
  letter-spacing: 0.5rem;
  margin: var(--gutter);
  padding: 4vw;
}

h3 {
  font-family: "Bitter", serif;
  color: var(--seafoam);
  font-size: clamp(3.5vw, 3.5vw, 10vw);
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

h4 {
  font-family: "Bitter", serif;
  color: var(--seafoam);
  font-size: clamp(2.5vw, 2.5vw, 10vw);
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

ul {
  list-style: none;
}

a:link {
  color: var(--link);
  text-decoration: none;
}

a:visited {
  color: var(--link);
  text-decoration: none;
}

a[href]:hover {
  color: var(--seafoam);
  transition: color 300ms;
}

a.to-top {
  font-family: "Bitter", serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.days a {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Bitter", serif;
}

.days {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.button[href] {
  font-size: 1rem;
  font-family: "Bitter", serif;
  font-weight: bold;
  color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
  padding: 0.5em 2.5em;
  /* margin: 5rem; */
  display: inline-block;

  transition: background-color 300ms, color 300ms;
}

.button[href]:hover {
  background-color: var(--dark-blue);
  color: #fff;
  text-decoration: none;
}

.hero {
  height: 90vh;
  position: relative;
}

.hero .heading-background {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  margin: var(--gutter);
  text-align: center;
  font-weight: 400;
  font-size: clamp(3.5vw, 4.5vw, 10vw);
  color: var(--dark-blue);
  letter-spacing: 2vw;
  line-height: 2;
}

.keyword {
  font-size: 20vw;
  color: transparent;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  background: linear-gradient(
    to right,
    /* #a77934, */ #cb9b51,
    /* #f6e387, */ #f6e590,
    /* #f6e27a, */ #cb9b51 /* #a77934 */
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin: var(--gutter);
  --direction: -20deg;
  --speed: 2.5s;
}

.keyword::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  top: 16rem;
  bottom: 11rem;
  left: 11rem;
  right: 11rem;
  background: linear-gradient(
    var(--direction, -45deg),
    transparent,
    transparent 45%,
    rgba(255, 255, 255, 0.213) 50%,
    transparent 55%
  );

  background-size: 300% 300%;
  animation: shine Var(--speed, 2s) ease-in-out infinite;
}

.keyword-charity {
  font-size: clamp(16vw, 16vw, 10vw);
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  margin: var(--gutter);
}

.keyword-diligence {
  font-size: clamp(13vw, 13vw, 10vw);
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  margin: var(--gutter);
}

.keyword-knowledge {
  font-size: clamp(12vw, 12vw, 10vw);
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  margin: var(--gutter);
  letter-spacing: 1rem;
}

.keyword-selflessness {
  font-size: clamp(11vw, 11vw, 10vw);
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  margin: var(--gutter);
  letter-spacing: .8rem;
}

.hero h1 .keyword-nav {
  font-size: clamp(16vw, 16vw, 10vw);
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  color: var(--dark-blue);
  margin: var(--gutter);
}

.hero p {
  text-align: center;
  font-family: "Bitter", serif;
  font-weight: 1000;
  color: var(--light-blue);
  font-size: clamp(1.5vw, 2vw, 5vw);
  line-height: 2;
  margin: var(--gutter);
}

.hero::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to top, #fff 20%, transparent 100%);
}

.hero-patience::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
}

picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero picture {
  height: 100%;
}

.round-img img {
  width: 30rem;
  height: auto;
  border-radius: 50%;
  border: 5px solid var(--dark-blue);
}

.kayla img {
  width: 30rem;
  height: auto;
  border-radius: 50%;
  border: 5px solid var(--dark-blue);
}

.family img {
  border-radius: 20%;
  border: 5px solid var(--dark-blue);
}

.video-background {
  background: #000;
  position: absolute;
  inset: 0;
  z-index: -99;
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: cover;
  overflow-x: hidden;
}

.card {
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 15px;
  box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: transform 300ms ease;
}

.card a {
  color: var(--dark-blue);
}

p.card-font {
  font-family: "Bitter", serif;
  margin: 1rem 0 0;
}

.card img {
  border-radius: 30%;
  padding: 1rem 1rem;
  transition: box-shadow 300ms;
  /* height: 100%;
  object-fit: cover; */
}

.cards {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  color: var(--light-blue);
}

.icon {
  padding: 2rem;
  text-align: center;
  font-size: 1rem;
  font-family: "Bitter", serif;
}

.icon-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 0 1rem;
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

a.icon:hover {
  -webkit-animation: shake-top 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-top 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Bitter", serif;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: var(--dark-blue);
  overflow-x: hidden;
  padding: 0px;
}

.close nav {
  position: fixed;
  inset: 0 70vw 50vw 0;
  background-color: var(--light-blue);
  display: flex;
  flex-direction: column;
}

header nav a {
  display: block;
}

.listitem {
  margin: 2.5rem 0 2.5rem 0;
  color: var(--seafoam);
}

.listitem a {
  color: aliceblue;
  padding: 1rem 2rem 1rem 2rem;
  border: 2px solid transparent;
}

.listitem a:hover {
  color: aliceblue;
  border-top: 2px solid aliceblue;
  border-bottom: 2px solid aliceblue;
  transition: 300ms ease-in-out;
}

textarea {
  display: flex;
  justify-content: center;
}

.cover-bible img {
  width: 100%;
  height: auto;
  display: block;
}

/* the book container */
.book {
  position: relative;
  width: var(--book-width);
  height: var(--book-height);

  perspective: 2000px;

  /* transfrom-style only applies to direct children. It is not 
  inherited   */
  transform-style: preserve-3d;

  /* needed if in flexbox column to keep from squashing 
     empty elements */
  flex: 0 0 auto;

  /* add room for the animation   */
  margin-bottom: 32px;
}

/* position cover and pages relative to book container 
   add preserve-3D for when they are rotated. */
.cover-front,
.cover-front div,
.cover-back {
  position: absolute;
  inset: 0;
  transform-style: preserve-3d;
}

/**** front cover ****/
.cover-front {
  transform: rotateY(-30deg) translateZ(8px);
  transform-origin: left;
  transition: transform 0.8s ease;
}

/* outside front cover */
.cover-front div {
  background: var(--color-end-paper);
  /* backface-visiblity hides the backside of an element when 
   it is rotated */
  backface-visibility: hidden;
}

/* inside front cover  */
.cover-front div:last-child {
  transform: rotateY(180deg);
}

/* add the appearance of depth to the edge of the cover */
.cover-front div:first-child::before {
  content: "";
  position: absolute;
  background-color: var(--color-edge);
  width: var(--width-cover-edge);
  top: 0;
  left: 0;
  height: var(--book-height);
  transform: rotateY(90deg) translateZ(197px);
}

.cover-back {
  background: var(--color-edge);
  transform-origin: left;
  transform: rotateY(-15deg) translateZ(-1.5px);
}

/**** pages ****/
.pages,
.pages > div {
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
}

.pages {
  width: 100%;
  height: 98%;
  top: 1%;
  left: 3%;
}

.pages > div {
  width: 100%;
  height: 100%;
  transform-origin: left;
  transition: transform 600ms ease;
  background: linear-gradient(to left, #e9dfd3, #fffbf6);
  box-shadow: inset 0px -1px 2px rgb(50 50 50 / 0.2),
    inset -1px 0px 1px rgb(150 150 150 / 0.2);
  border-radius: 0px 5px 5px 0px;
}

.pages div:nth-child(1) {
  transform: rotateY(-23deg);
  transition-duration: 0.6s;
}

.pages div:nth-child(2) {
  transform: rotateY(-25deg);
  transition-duration: 0.6s;
}

.pages div:nth-child(3) {
  transform: rotateY(-27deg);
  transition-duration: 0.4s;
}

.pages div:nth-child(4) {
  transform: rotateY(-29deg);
  transition-duration: 0.5s;
}

.pages div:nth-child(5) {
  transform: rotateY(-31deg);
  transition-duration: 0.6s;
}

/**** message ****/
.message {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  overflow-y: scroll;
}

.message p {
  color: #222;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 0.1em 0.4em;
  margin-bottom: 1em;
  overflow-y: scroll;
}

.scripture-grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  align-items: center;
  max-width: 100%;
}

/**** spine  ****/
.book-spine {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 16px;
  transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
  background-color: var(--color-spine);
}

/**** animations ****/
.book:hover > .cover-front {
  transform: rotateY(-160deg) translateZ(0);
}

.book:hover > .pages div:nth-child(1) {
  transform: rotateY(-25deg);
  transition-duration: 1.5s;
}

.book:hover > .pages div:nth-child(2) {
  transform: rotateY(-30deg);
  transition-duration: 1.8s;
}

.book:hover > .pages div:nth-child(3) {
  transform: rotateY(-145deg);
  transition-duration: 1.6s;
}

.book:hover > .pages div:nth-child(4) {
  transform: rotateY(-150deg);
  transition-duration: 1.4s;
}

.book:hover > .pages div:nth-child(5) {
  transform: rotateY(-155deg);
  transition-duration: 1.2s;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-3-27 14:52:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
/* ----------------------------------------------
 * Generated by Animista on 2023-3-27 22:19:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-top
 * ----------------------------------------
 */
/* ----------------------------------------------
 * Generated by Animista on 2023-3-27 22:23:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-scale-up
 * ----------------------------------------
 */
/* ----------------------------------------------
 * Generated by Animista on 2023-3-27 22:24:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
/* ----------------------------------------------
 * Generated by Animista on 2023-3-27 22:37:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-top
 * ----------------------------------------
 */
@-webkit-keyframes shake-top {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }

  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

@keyframes shake-top {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }

  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }

  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

@keyframes shine {
  0% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

/* Media Queries */
@media (min-width: 401px) {
  .main {
    max-width: 50rem;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 801px) {
  .main {
    max-width: 80rem;
  }

  .cards {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground {
    width: 300%;
    left: -100%;
  }
}


